@model Final_mvc.Models.OrdersStatu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrdersStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agent.AName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agent.AName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryNote.AID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryNote.AID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
